{% extends 'home/homepages/base.html' %}
{% load static %}
{% load i18n %}

{% block headlink %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/guides.css' %}">
{% endblock%}

{% block content %}
	<main>

		<h3>{% trans 'Guides & tutorials' %}</h3>

		<section class="guidesect">
			<article class="guideart">
				<h2 class="stext">Добавление текстового контента</h2>
				<hr>
				<div class="cont">
					<div>
						Добавление тектового контента доступно сразу при входе на страницу, для этого в поле справа от выбора типа контента вводится текст.
					</div>
					<div class="gimg"><img src="{% static 'home/img/ex1.jpg' %}"></div>
				</div>
				<div class="cont">
					<div>После окончания ввода текста просто нажмите Enter. Текст сохранен и добавлен на страницу. Для удаления нажмите на кнопку "delete" слева от текста.</div>
					<div class="gimg"><img src="{% static 'home/img/ex2.jpg' %}"></div>
				</div>
			</article>
			<article class="guideart">
				<h2 class="stext">Смена типа контента</h2>
				<hr>
				<div class="cont">
					<div>Для смены типа контента нажмите на выбраный тип контента слева от поля ввода и выберите нужный из выпадающего списка.</div>
					<div class="gimg"><img src="{% static 'home/img/ex3.jpg' %}"></div>
				</div>
			</article>
			<article class="guideart">
				<h2 class="stext">Добавление картинок</h2>
				<hr>
				<div class="cont">
					<div>Для добавления картинки выберите данный тип в списке типов контента и нажмите на кнопку "Выберите файл", выберите файл, который хотите добавить.</div>
					<div class="gimg"><img src="{% static 'home/img/ex4.jpg' %}"></div>
				</div>
				<div class="cont">
					<div>Нажмите на кнопку "Отправить".</div>
					<div class="gimg"><img src="{% static 'home/img/ex5.jpg' %}"></div>
				</div>
				<div class="cont">
					<div>Картинка добавлена, для её удаления так же нажмите на кнопку "delete" слева от неё</div>
					<div class="gimg"><img src="{% static 'home/img/ex6.jpg' %}"></div>
				</div>
			</article>
		</section>

	</main>
{% endblock %}