


.pageitem{
	margin: 0 0 20px 0;
}

.slist{
	padding: 10px 20px;
	border-radius: 15px;
	background-color: rgba(36, 45, 77, 0.7);
}

.slitem{
	margin: 10px 0;
	padding: 10px 15px;
	border-radius: 24px;
	background-color: #2b3347;
}


main{
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
}
.pagetop{
	background-color: rgba(14, 19, 31, 1);
	background-image: url(img/2741468.webp);
	height: 300px;
	width: 100%;
}

.topfoot{
	background-color: rgba(14, 19, 31, 1);
	width: 100%;
	height: 100px;
	border-radius: 0 0 20px 20px;

}


.ava{
	position: absolute;
	width: 200px;
	height: 200px;
	border: 7px solid #4a77e0;
	margin: 140px 0px 0px 100px;
	border-radius: 5%;
}

.title{
	position: absolute;
	margin: 263px 0 0 340px;
}

.pagemid{
	min-height: 100px;
	padding: 30px;
	margin: 30px auto;
	background-color: rgba(14, 19, 31, 1);
	border-radius: 20px;
}

.nick{
	color: rgb(69, 176, 247);
	margin-bottom: 15px;
	font-size: 28px;
	font-weight: bold;
}

.covset{
	display: none;
}

.pagecover:hover .covset{
	display: block;
}