.logsect{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
}
 
.logwin{
	color: #a38cff;
	padding: 25px 50px;
	border: 1px solid #280261;
	border-radius: 20px;
	backdrop-filter: blur(5px);
}

h2{
	text-align: center;
}

.inpbox{
	position: relative;
	margin: 35px 0 20px 0;
	width: 300px;
	border-bottom: 2px solid #280261;
}

.inpbox label{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	transition: .5s;
}

.inpbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	color: #a38cff;
	font-size: 14px;
	margin-bottom: -10px;
}

input:focus ~ label,
input:valid ~ label{
	top: -5px;
}

.extra{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.excont{
	margin-left: 20px;
}

.extra input{
	margin-right: 5px;
}

.submit{
	color: #a38cff;
	font-size: 20px;
	width: 60%;
	height: 35px;
	border: 1px solid #a38cff;
	border-radius: 100px;
	background-color: rgb(28%, 22%, 53%, 0.5);
	margin: 10px 0 -5px 0;
}

.submit:hover{
	color: #beadff;
	background-color: rgba(19, 12, 28, 0.5);
	border-color: #351d54;
}

.subbox{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*UPD*/

.updbut{
	appearance: none;
	border: 0;
	border-radius: 50%;
	color: #a38cff;
	background: none;
	font-size: 18px;
}

.updnvis{
	display: none;
}

.dark .updvis{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
	background-color: rgba(36, 45, 77, 0.7);
	border-radius: 10px;
	right: 0;
}

.light .updvis{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
	background-color: rgba(3, 7, 33, 0.7);
	border-radius: 0 0 10px 10px;
	right: 0;
}

.updtitle{
	padding: 20px 140px;
	background-color: rgb(3, 7, 33);
	border-radius: 10px 10px 0 0;
}

.light .updtitle{
	border-radius: 0;
}

.updlist{
	padding: 10px;
	min-height: 80px
}

.upddescr{
	margin-bottom: 10px;
}

.logcon{
	color: #a38cff;
}

ul, li{
	padding: 0;
}


.ferror{
	width: 300px;
}

.nonferror{
	width: 400px;
	margin-bottom: 30px;
	color: #a38cff;
}

.nonferror li{
	padding: 20px;
	border: 1px solid #280261;
	border-radius: 20px;
}
