*{	
	font-family: "FreeMono", monospace;
	margin: 0;
}

::-webkit-scrollbar {
	width: 7px;
    background-color: #142347;
}
::-webkit-scrollbar-thumb{
	background-color: #16398a;
	border-radius: 5px;
}

html, body{
	color: #ffffff;
	font-size: 16px;
	height: 100%;
}

.page{
	display: flex;
	flex-direction: column;
	background-color: #091933;
	background: url(img/SA.gif) fixed, 
				url(img/ysbg2.png) fixed;
}

.hidden{
	display: none;
}

main {
	flex: 1 1 auto;
}

a{
	text-decoration: none;
	color: #a38cff;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

/*HEADER*/

header{
	background-color: #070b14
}


.head{
	display: flex;
	padding: 5px 25px;
	margin-right: 30px;
	margin-left: 30px;
}

/*HEADER main link*/

.mlink{
	display: flex;
}

.logo{
	height: 40px;
	margin-right: 4px;
}

h1{
	color: #a38cff;
	font-size: 28px;
}

/*HEADER content*/

.headlist{
	display: flex;
	margin-left: auto;
}

.hli{
	font-size: 18px;
	display: block;
	color: #a38cff;
	padding: 5px 10px;
	align-self: center;
}

.hl:hover{
	border-bottom: 1px solid #a38cff;
}

.dark{
	background: url(img/SA.gif) fixed, 
				url(img/ysbg2.png) fixed;
	background-color: #091933;
}

.stext{
	/*color: rgb(69, 176, 247);*/
	color: #a38cff;
}

.pagecover{
	max-height: 250px;
	overflow: hidden;
}

.pagecover img, .profileava img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pagecover img{
	border-radius: 15px 15px 0px 0px;
}

.profilepage{
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: 100%;
}

.profiletop{
	border-radius: 15px;
	margin-bottom: 20px;
}

.profinfo{
	z-index: 10;
	padding: 20px;
	min-height: 60px;
	background-color: #212121;
	border-radius: 0px 0px 15px 15px;
}

.profileava{
	width: 200px;
	overflow: hidden;
	position: absolute;
	top: 180px;
	left: 80px;
}

.profinfo h2{
	position: absolute;
	top: 280px;
	left: 300px;
}

.descr{
	margin-left: 260px;
}

.maincontent{
	flex: 1 1 auto;
	background-color: #212121;
	padding: 20px;
	border-radius: 15px;
}

.usercont{
	display: flex;
	margin-left: 5px;
}

.usercont p{
	color: #a38cff;
	font-size: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

.usercont div{
	width: 30px;
	padding-right: 5px;
}

.usercont div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profwind{
	position: absolute;
	font-size: 20px;
	top: 50px;
	left: 83%;
	padding: 15px 20px;
	backdrop-filter: blur(5px);
	border: 1px solid #130d21;
	border-radius: 15px;
	/*text-align: right;*/
}

.usercont a{
	padding-top: 5px;
}

.profwindnvis{
	display: none;
}

.login{
	border: 1px solid #a38cff;
	border-radius: 20px;
	background-color: rgb(28%, 22%, 53%, 0.5);
	padding: 7px 20px;
}

.login:hover{
	color: #beadff;
	background-color: rgba(19, 12, 28, 0.5);
	border-color: #351d54;
}

.forms{
	display: flex;
}

.forms select{
	background: transparent;
	border: none;
	outline: none;
	color: #a38cff;
	font-size: 18px;
	margin-right: 10px;
}

.forms input{
	background: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: "FreeMono", monospace;
}

.forms .textform{
	width: 100%;
}

.forms .textform input{
	font-size: 14px;
	width: 100%;
}

.hform{
	display: none;
}

.show{
	display: block;
}

.object{
	overflow: hidden;
	word-wrap: break-word;
	display: flex;
}

.object a p{
	padding: 5px;
	background-color: #1a1a1a;
	margin-right: 10px;
}

.object div{
	padding: 5px 0px;
}

.object div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avaform{
	
}