{% load static %}
{% url 'home' as homelink %}
{% load i18n %}
{% load home_tags %}
{% getInfo as Info %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>YourSpace – {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/mainst.css' %}">
		<link type="image/x-icon" href="{% static 'home/img/gal.ico' %}" rel="shortcut icon">
		<link type="image/x-icon" href="{% static 'home/img/gal.ico' %}" rel="icon">
		{% block headlink %}

		{% endblock %}
		<meta charset="utf-8">
		<meta name="keywords" content="YourSpace, Planner, планнер">
		<meta name="description" content="YourSpace — сайт-планнер для создания списков, планирования и управления">
	</head>

	<body class="page dark">

		<!-- HEADER -->
		<header>
			<div class="head">
				<a class="mlink" href="{{ homelink }}">
					<img class="logo" src="{% static 'home/img/1534058.png' %}">
					<h1>YourSpace</h1>
				</a>

				<ul class="headlist">
					<li class="hli hl"><a href="{% url 'guides' %}">{% trans 'Guides & tutorials' %}</a></li>
					
					<li class="hli hl"><a href="{{Info.0.get_absolute_url}}">{% trans 'Info' %}</a></li>

					<li class="hli lang">
						<form name="lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
						    <input name="next" type="hidden" value="{{ redirect_to }}">
						    <select name="language">
						        {% get_current_language as LANGUAGE_CODE %}
						        {% get_available_languages as LANGUAGES %}
						        {% get_language_info_list for LANGUAGES as languages %}
						        {% for language in languages %}
						            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
						                {{ language.code }} {{ language.name_local }}
						            </option>
						        {% endfor %}
						    </select>
						   
						</form>
					</li>

					<li class="hli"><button class="thbut" type="button">
						<img class="thimg " src="{% static 'home/img/dtheme.png' %}">
						<img class="thimg2 nc" src="{% static 'home/img/ltheme.png' %}">
					</button></li>
					{% block headbutt %}
					{% endblock %}
					{% if request.user.is_authenticated %}
					<div class="usercont">
						<div class="">
							<img src="{{ user.profile_pic.url }}">
						</div>
						<p>{{user.username}}</p>
					</div>
					{% else %}
					<li class="hli"><a class="login" href="{% url 'signin' %}">{% trans 'Sign In' %}</a></li>
					{% endif %}
				</ul>
			</div>
		</header>

		<div class="profwind profwindnvis">
			<div class="usercont">
				<div class="">
					<img src="{{ user.profile_pic.url }}">
				</div>
				<a href="{% url 'userredirect' %}">{{user.username}}</a>
			</div>
			<a href="{% url 'logout' %}">Logout</a>
		</div>

		{% block content %}

		{% endblock %}

		<footer>
			ysproject@gmail.com
		</footer>
		<script src="{% static 'home/js/script1.js' %}"></script>
		<script src="{% static 'home/js/userwin.js' %}"></script>
		{% block script %}

		{% endblock %}
	</body>
</html>