<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/mains.css">
		<link rel="stylesheet" type="text/css" href="css/mainth.css">
		<title>User</title>
		<meta charset="utf-8">
		<meta name="keywords" content="YourSpace, Planner, планнер">
		<meta name="description" content="YourSpace — сайт-планнер для создания списков, планирования и управления">
	</head>

	<body class="page dark">
		
		<header>
			<div class="head">
				<a href="start.html"><h1>YourSpace</h1></a>

				<ul class="headlist">
					<li class="hli hl"><a target="_blank" href="guides & tutorials.html">Guides & tutorials</a></li>
					<li class="hli hl"><a target="_blank" href="info.html">Info</a></li>
					<li class="hli upd">
						<button class="updbut" type="button">UPDATES</button>
					</li>
				</ul>
			</div>

			<div class="upds updnvis">
				<p class="updtitle stext">UPDATES & NEWS</p>
				<dl class="updlist">
					<dt class="stext">UPDATE 2</dt>
					<dd class="upddescr">Настроен хэдер страницы профиля</dd>
					<dt class="stext">UPDATE 1</dt>
					<dd class="upddescr">Добавлена лента новостей</dd>
				</dl>
			</div>
		</header>

		<main>
			<section class="pagetop">
				<div class="avacont">
					<img class="ava" src="img/uwu.jpg">
				</div>
				<div class="title">
					<p class="nick">User</p>
					<p class="descript">Description</p>
				</div>
			</section>
			<div class="topfoot"></div>
			<section class="pagemid">
				<div class="pageitem text" contenteditable>Text</div>

				<div class="pageitem slist">
					<p>To-Do List</p>
					<ul>
						<li class="slitem">
							<input type="checkbox" id="sli1" name="sli1">
      						<label for="sli1">Задача 1</label>
						</li>
						<li class="slitem">
							<input type="checkbox" id="sli1" name="sli1">
      						<label for="sli1">Задача 2</label>
						</li>
					</ul>
					<div>New Item</div>
				</div>

				<div class="pageitem">
					New Page
				</div>
			</section>

		</main>

		<script src="js/updmenu.js"></script>

	</body>
</html>