{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block headlink %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/reg.css' %}">
{% endblock%}

{% block headbutt %}
	<!--<li class="hli upd">
		<button class="updbut" type="button">{% trans 'UPDATES' %}</button>
	</li>-->
{% endblock %}

{% block content %}
	<main>

		<div class="upds updnvis">
				<p class="updtitle stext">{% trans 'UPDATES & NEWS' %}</p>
				<dl class="updlist">
					<dt class="stext">UPDATE 2</dt>
					<dd class="upddescr">Настроен хэдер страницы профиля</dd>
					<dt class="stext">UPDATE 1</dt>
					<dd class="upddescr">Добавлена лента новостей</dd>
				</dl>
			</div>

			<section class="logsect">
				<div class="nonferror">{{form.non_field_errors}}</div>
				<div class="logwin">
					<form method="post">
						<h2>{% trans 'Sign Up' %}</h2>
						{% csrf_token %}
						{% for f in form %}
							<div class="inpbox">
								{{ f }}
								{% if f.label == "Username" %}
								<label class="logcont" for="{{ f.id_for_label }}">{% trans 'UserName' %}</label>
								{% elif f.label == "Email" %}
								<label class="logcont" for="{{ f.id_for_label }}">Email</label>
								{% elif f.label == "Password1" %}
								<label class="logcont" for="{{ f.id_for_label }}">{% trans 'Password' %}</label>
								{% else %}
								<label class="logcont" for="{{ f.id_for_label }}">{% trans 'Confirm Password' %}</label>
								{% endif %}
							</div>
							<div class="ferror">{{ f.errors }}</div>
						{% endfor %}
						<div class="extra">
							<input type="checkbox" name="" class="agrc"> <a href="{{Info.0.get_absolute_url}}"  target="_blank">{% trans 'I have read and agree with INFO' %}</a>
						</div>

						<div class="subbox">
							<input class="logcont agrs submit" disabled type="submit" name="" value="{% trans 'Sign Up' %}"><br>
							<a class="logcont" href="{% url 'signin' %}">{% trans 'Or Sign In!' %}</a>
						</div>
					</form>
				</div>
			</section>

			<!--<section class="logsect">
				<div class="logwin">
					<form class="logform">
						<h2>{% trans 'Sign Up' %}</h2>
						<div>
							<div class="inpbox">
								<input class="logcont" type="text" name="user" id="user" autofocus required>
								<label class="logcont"> {% trans 'UserName' %}</label>
							</div>
							<div class="inpbox">
								<input class="logcont" type="email" name="" required>
								<label class="logcont"> Email</label>
							</div>
						</div>

						<div>
							<div class="inpbox">
								<input class="logcont" type="password" name="" required>
								<label class="logcont">{% trans 'Password' %}</label>
							</div>
							<div class="inpbox">
								<input class="logcont" type="password" name="" required>
								<label class="logcont">{% trans 'Confirm Password' %}</label>
							</div>
						</div>

						<div class="extra">
							<input type="checkbox" name=""> <a href="{{Info.0.get_absolute_url}}"  target="_blank">{% trans 'Info' %}</a>
						</div>

						<div class="subbox">
							<input class="logcont submit" type="submit" name="" value="{% trans 'Sign Up' %}"><br>
							<a class="logcont" href="{% url 'signin' %}">{% trans 'Or Sign In!' %}</a>
						</div>
					</form>
				</div>
			</section>-->

	</main>
{% endblock %}

{% block script %}
	<script src="{% static 'home/js/regscript.js' %}"></script>
{% endblock %}