{% load static %}
{% url 'home' as homelink %}
{% load i18n %}
{% load home_tags %}
{% getInfo as Info %}

{% ThisProfileContent pageuser=p_user as ProfileContent %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="image/x-icon" href="{% static 'home/img/gal.ico' %}" rel="shortcut icon">
		<link type="image/x-icon" href="{% static 'home/img/gal.ico' %}" rel="icon">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/test.css' %}">
	</head>

	<body class="page">
		<header>
			<div class="head">
				<a class="mlink" href="{{ homelink }}" target="_blank">
					<img class="logo" src="{% static 'home/img/1534058.png' %}">
					<h1>YourSpace</h1>
				</a>

				<ul class="headlist">
					<li class="hli hl"><a href="{% url 'guides' %}" target="_blank">{% trans 'Guides & tutorials' %}</a></li>
					
					<li class="hli hl"><a href="{{Info.0.get_absolute_url}}" target="_blank">{% trans 'Info' %}</a></li>
				</ul>
				{% if request.user.is_authenticated %}
					<div class="usercont">
						<div class="">
							<img src="{{ user.profile_pic.url }}">
						</div>
						<p>{{user.username}}</p>
					</div>
				{% else %}
					<li class="hli"><a class="login" href="{% url 'signin' %}">{% trans 'Sign In' %}</a></li>
				{% endif %}
			</div>
		</header>

		<aside class="profilepage">
			<div class="profiletop">
				<div class="pagecover">
					<div class="covset">
						<div class="stext">Change Cover</div>
					</div>
					<img src="{{ p_user.cover_pic.url }}">
				</div>
				<div class="profinfo">
					<div class="profileava">
						<img src="{{ p_user.profile_pic.url }}">
					</div>
					<h2 class="stext">{{p_user}}</h2>
					<div class="descr">{{p_user.descr}}</div>
				</div>
			</div>

			{% getTypes as type %}

			<div class="maincontent">
				{% for c in ProfileContent %}
					{% if c.conttype == type.0 %}
					<div class="object">
						<a href="{% url  'delete' o_id=c.pk %}"><p>delete</p></a>
						{% getTextContent name=c.name as text%}
						<div>{{text.content | linebreaks }}</div>
					</div>
					{% elif c.conttype == type.1 %}
					<div class="object">
						<a href="{% url  'delete' o_id=c.pk %}"><p>delete</p></a>
						{% getImgContent name=c.name as img%}
						<div><img src="{{img.content.url}}"></div>
					</div>
					{% else %}
					<div>{{c.conttype}} неизвестный тип данных</div>
					{% endif %}
				{% endfor %}
				<div class="forms">
					<select class="seltype">
						{% for t in type %}
						<option>{{t}}</option>
						{% endfor %}
					</select>
					<form name="textform" class="hform show textform" method="post">
						{% csrf_token %}
						{{ form }}
					</form>
					<form name="imgform" class="hform imgform" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form1 }}
						<input type="submit" name="">
					</form>
				</div>
			</div>
		</aside>


		<div class="profwind profwindnvis">
			<div class="usercont">
				<div class="">
					<img src="{{ user.profile_pic.url }}">
				</div>
				<a href="{% url 'userredirect' %}">{{user.username}}</a>
			</div>
			<a href="{% url 'profuleedit' %}">Profile Settings</a>
			<a href="{% url 'logout' %}">Выход</a>
		</div>

		<script src="{% static 'home/js/userwin.js' %}"></script>

	</body>
</html>